input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input {
  -moz-appearance: textfield;
}

.text-dark{
  color: #000;
}

.pointer-none{
  pointer-events: none;
}